extends layout

block content
  h1= title
  p Welcome to vamshi Krishna balupari: 

-
 let  cars = [
    { model_name: "Toyota Prius", battery_capacity_kwh: 8.8, manufacturer: "Toyota" },
    { model_name: "Honda Clarity", battery_capacity_kwh: 17, manufacturer: "Honda" },
    { model_name: "Hyundai Ioniq", battery_capacity_kwh: 8.9, manufacturer: "Hyundai" }
 ];